<%- include("header") -%> 
    <h1 class="box" id="heading">
        <%= listTitle %>
    </h1>
   
    <div class="box">
        <% itemName.forEach(function(item){ %>
        <form action="/delete" method="POST">
            <div class="item">
                <input name="checkbox" type="checkbox" onChange="this.form.submit()" value="<%= item._id %>">
            <p><%=item.name%></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
    </form>
        <% }) %>
    
        <form class="item" action="/" method="POST">
            <input name="item" placeholder="Enter your next item" type="text" autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>


    </div>
<%- include("footer") -%>
    